absl-py
astor
attrs
backcall
bleach
cycler
Cython
decorator
defusedxml
entrypoints
future
gast
google-pasta
grpcio
h5py
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema

jupyter
jupyter-client
jupyter-console

jupyter-core

Keras

Keras-Applications

Keras-Preprocessing

kiwisolver

Markdown

MarkupSafe

matplotlib

mistune

nbconvert

nbformat

notebook

numexpr

numpy

pandocfilters

parso

pexpect

pickleshare

Pillow

prometheus-client

prompt-toolkit

protobuf

ptyprocess

Pygments

pyparsing

pyrsistent

python-dateutil

PyYAML

pyzmq

qtconsole

scipy

Send2Trash

six

tensorflow-gpu

tensorflow

termcolor

terminado

testpath

torch

torchvision

tornado

traitlets

wcwidth
webencodings

Werkzeug

widgetsnbextension
